<!--Sudarshan paudel |301319847| October-1|projects.ejs|-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>projects</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>

    <header>
        <%- include("partials/header"); %>
    </header>
    <section class="projects">
        <h2>My Projects</h2>
        
        <div class="project">
            
            <h3>Project 1</h3>
            <p>This was my first project in the first semester of my college, I was told to create a demo website for one of my favourite company. I made the wesite for the apple including links to go to their page to view and buy some accessories. </p>
            <img class="projectimg" src="/images/project1.png" alt="Project 2">




            <h3>Project 2</h3>
            <p>This is the first ever project I did in my life. I created a website for a real estate company as an first semester individual project. At that time , my project was really liked by my professor and Igot full marks.</p>
            <img class="projectimg" src="/images/project2.png" alt="Project 1">

           
            <h3>Project 3</h3>
            <p>I created a bug smasher game as an project for my second semester. It was my first game I made, I was well appreciated by professor while doing this project.</p>
            <img class="projectimg" src="/images/project3.png" alt="Project 3">
        </div>
    </section>
   
    <%- include("partials/footer"); %>
</body>
</html>