<!--Sudarshan paudel |301319847| October-1|services.ejs|-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
        <%- include("partials/header"); %>
    </header>
    <section class="services">
        <h2>My Services</h2>
        
        <div class="service">
           
            <h3>Software development & Web Development</h3>
            <p> I can develop custom software solutions tailored to your specific requirements. This includes designing, coding, and testing software applications and websites. I can create everything from mobile apps and web applications to desktop software and websites.</p> 
            <img class="img1" src="/images/softwaredevelopment.jpg" alt="Service 1">
           
            <h3>Software Maintenance and Support</h3>
            <p>After software is deployed, it requires ongoing maintenance and support to ensure it remains functional, secure, and up-to-date. I can provide services such as bug fixes, updates, performance optimization, and security patches to keep the software running smoothly.</p>
            <img class="img2" src="/images/softwareserviceimag.jpg" alt="Service 2">

          
            <h3>Consultation and Analysis</h3>
            <p>I can also offer consultation services, where I analyze your existing software systems, assess your needs, and provide recommendations for improvements or enhancements. I may help you make informed decisions about technology choices, scalability, and architecture.</p> </div>
            <img class="img3" src="/images/Analysisimg.jpg" alt="Service 3">
        </div>
     </section>
   
    <%- include("partials/footer"); %>
</body>
</html>